* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#mainik{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

#photo {
    width: 120px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 2%, black 98%, transparent),
                        linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 2%, black 98%, transparent),
                 linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 10; /* Added z-index to ensure navbar is above other elements */
}

.shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#strzala {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.spacer {
    width: 24px; /* Zapewnia, że tytuł pozostanie wyśrodkowany */
}

.card {
    margin-top: 20px;
    background-image: url(zdjecia/background.jpg);
    background-position-x: right;
    background-size: 360px;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 390px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
}

.card-header {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.card-info h2 {
    margin: 0;
    font-size: 16px;
}

.label {
    font-size: 12px;
    color: gray;
}

.card-details {
    margin-top: 10px;
}

.card-details p {
    margin: 5px 0;
}

.valid {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.dany  {
    margin-bottom: 33px;
}

video{
    height: 45px;
}

@keyframes sprite {
    from { background-position: 0px; }
    to { background-position: -11000px; }
  }

#nimated-flag {
    width: 200px;  /* Szerokość pojedynczej klatki */
    height: 149px; /* Wysokość klatki */
    background: url('zdjecia/css_sprites.png') 0 0 no-repeat;
    animation-name: sprite; 
    animation-duration: 2.08333s;
    animation-timing-function: steps(50);
    animation-iteration-count: infinite;
    transform: scale(0.38);  /* Zmniejszenie animacji o połowę */
    transform-origin: top left;  /* Zachowuje punkt początkowy */
    position: relative;
    right: 10px;
    top: 5px;
}

.card-info{
    position: relative;
    right: 70px;
}

#emblem{
    height: 55px;
    width: 36px;
    background-image: url(zdjecia/fakeEmblem.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 90%;
}

#rzeczpos{
    font-size: 12px;
    color: #818181;
    position: relative;
    bottom: 9px;
    left: 5px;
}

#holo{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 75px;
}

#timer{
    margin-top: 10px;
}
#potwierdzenie{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 20px;
    width: 90%;
    max-width: 390px;
    background-color: white;
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
    height: 60px;
    min-height: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#zielonyTick{
    height: 30px;
    position: relative;
    right: 2px;
}

#potwierdzenie h2 {
    margin: 0;
    font-size: 14px;
    color: #648d36;
    position: relative;
    left: 10px;
}

.buttons {
    margin-top: 20px;
    width: 90%;
    max-width: 390px;
    position: relative;
    bottom: 65px;
}

.button {
    background: white;
    padding: 20px 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    display: flex;
    align-items: center;
}
.buttonIcon{
    height: 30px;
    margin-right: 10px;
}

.buttonArrow{
    height: 20px;
    position: absolute;
    left: 315px;
}

.button p{
    font-size: 15px;
}
.buttondane{
    background: white;
    padding: 20px 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    display: flex;
    align-items: center;
}

.buttondane p{
    font-size: 13px;
    color: gray;
}

#ostatniaAktu{
    margin-top: 5px;
}

#aktualizuj{
    background-color:#c8e0f5;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#174568;
    font-family:Arial;
    font-size:14px;
    padding:9px 16px;
    text-decoration:none;
    border: none;
    position: absolute;
    left: 250px;
}

#DaneDokumentu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#DaneDokumentu.show {
    bottom: 0;
}

.ciemno {
    filter: brightness(0.5);
    transition: filter 0.3s ease-in-out;
}

#DaneDokumentu h3{
    margin:40px 0;
}

.label2{
    font-size: 12px;
    color: rgb(83, 83, 83);
    margin-bottom: 12px;
}

.wyboryDoku{
    padding: 27px;
    width: 86%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 14px;
}

#DaneDokumentu h2{
    margin:0;
    margin-bottom: 10px;
}

.wyboryDoku button{
    background-color:#08448c;
	border-radius:28px;
	display:inline-block;
	color:white;
	font-size:14px;
    font-weight: bold;
    padding: 15px 0;
	text-decoration:none;
    border: none;
    width: 100%;
}

#asdfg{
    margin-top: 24px;
}

#zamknijDaneDokumentu{
    width: 86%;
    background-color: white;
    border: #08448c 1px solid;
    border-radius: 22px;
    height: 50px;
    margin-top: 24px;
    color: #08448c;
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
}

#dodatkoweDane {
    display: none;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin-top: 30px;
    box-sizing: border-box;
}

#dodatkoweDane.show {
    display: block;
}

#dodatkoweDaneDiv{
    flex-direction: column;
}

#pDodatkoweDane{
    position: relative;
    right: 84px;
}

#div-1{
    display: block;
    width: 100%;
    padding: 15px;
}

.p-1{
    font-size: 12px;
    color: rgb(83, 83, 83);
    margin-bottom: 3px;
}

.h2-1{
    font-size: 15px;
    font-weight: 300;
}

#h22{
    font-size: 20px;
}

#h3-1{
    position: relative;
    left: 15px;
}

#daneDowoduOsobistego{
    padding: 10px;
    border: 2px solid rgba(150, 150, 150, 0.37);
    border-radius: 17px;
    position: relative;
    bottom: 25px;
}

#powrot{
    width: 100%;
    background-color: white;
    border: #08448c 1px solid;
    border-radius: 26px;
    height: 50px;
    margin-top: 24px;
    color: #08448c;
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    bottom: 25px;
}

.pDodatkowe{
 font-size: 14px;
 color: rgb(83, 83, 83);
 margin-bottom: 5px;
}

.h3dodatkowe{
    font-size: 17px;
}

hr{
    color: rgb(182, 182, 182);
    margin: 10px 0;
    border-width: 0.5px;
    
}
.obrot{
    rotate: 90deg;
}

#potwierdzDane{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#potwierdzDane.show {
    bottom: 0;
}

#potwierdzDane h3{
    margin:40px 0;
}

#potwierdzDane img{
    width: 40%;
    position: relative;
    bottom: 20px;
}

#potwierdzDane p{
    color: gray;
    font-size: 16px;
}

#potwierdzDane button{
    width: 86%;
    background-color: white;
    border: #08448c 1px solid;
    border-radius: 22px;
    height: 50px;
    margin-top: 24px;
    color: #08448c;
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
}